<div class="col-8" [style]="{'margin-left':'15%'}">
  <p-card class="card p-grid">
    <ng-template pTemplate="header">
      <div class="card-header">
        <h5 class="ml-2 pt-2" style="color:grey;">{{announcement.date|date:"short"}}</h5>
        <h3 style="text-align: center">{{announcement.title}}</h3>
      </div>
    </ng-template>
    <div>
      <p class="card-text" [innerHtml]="announcement.body"></p>
    </div>
    <p-divider></p-divider>
    <span>
      <a class="btnComments ml-2 text-xs sm:text-base">
        <i class="pi pi-comments "></i>
       Comments({{announcement.commentCount}})
      </a>
    </span>
    <span *ngIf="this.isParticipant==false">
                      <a class="btnParticipate text-xs sm:text-base" role="button" (click)="participateOrWithdraw(announcement.id)">
                        <fa-icon [icon]="faPlane"></fa-icon>Particip({{announcement.participantCount}})
                      </a>
    </span>
    <span *ngIf="this.isParticipant==true">
                      <a class="btnParticipate  text-xs sm:text-base" role="button" (click)="participateOrWithdraw(announcement.id)">
                        <fa-icon [icon]="faPlaneArrival"></fa-icon>Renunt({{announcement.participantCount}})
                      </a>
    </span>
    <textarea pInputTextarea [(ngModel)]="body" class="col-12 ml-2 mt-2"
              placeholder="We'd like to hear your opinion">
    </textarea>
    <button pButton pRipple type="button" label="Comment"
            class="ml-2 p-button-sm mt-1" (click)="postComment()">

    </button>

    <div style="margin-top: 60px;" *ngFor="let comment of comments">
      <div class="comment text-xs sm:text-base">
        <div class="mailEuroavia">
          <a style="color:#0079D3;" routerLink="/user/comment.mailEuroavia">{{comment.mailEuroavia}}</a>
        </div>
        <div>
          <!--
            <p>{{comment.duration}}</p>
          -->
        </div>
        {{comment.body}}
      </div>
      <p-divider></p-divider>
    </div>

  </p-card>
</div>


