<div class="col-10 mt-4" [style]="{'margin-left':'8%'}">
  <p-card class="card">

    <button pButton pRipple type="button"
            class="p-button-outlined col-6 sm:col-3 sm:col-offset-3 text-xs sm:text-base"
            routerLink="/create-announcement">
      <fa-icon [icon]="faPlus" class="sm:ml-4 sm:mr-2"></fa-icon> Add Announcement
    </button>
    <button pButton pRipple type="button"
            class="p-button-outlined col-5 sm:col-3 text-xs sm:text-base ml-2"
            routerLink="/manage-users">
      <fa-icon [icon]="faBusinessTime" class="sm:ml-4 sm:mr-2"></fa-icon> Manage Users

    </button>
  </p-card>
</div>
