<div class="admin-body ">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="col-md-11 offset-md-3">
          <div class="card card border-0">
            <div class="card-body">
              <span>
                <button type="button" class="btn" routerLink="/create-announcement">
                  <fa-icon [icon]="faPlus"></fa-icon> Add Announcement
                </button>
                <button type="button" class="btn" routerLink="/manage-users" id="btn-manage-users">
                    <fa-icon [icon]="faBusinessTime"></fa-icon> Manage Users
                </button>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
