<div class="col-6" [style]="{'margin-left':'25%'}">
  <p-card class="card">

    <ng-template pTemplate="header" class="card">
      <div class="card-header">
        <h1>Login</h1>
      </div>
    </ng-template>

    <div class="p-grid">
      <div class="p-inputgroup col-12">
        <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
        <input type="text" pInputText placeholder="E-mail" [(ngModel)]="mailEuroavia"/>
      </div>
      <div class="p-inputgroup col-12">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input type="password" pPassword  placeholder="Password" [feedback]="false" [(ngModel)]="password"/>
      </div>
      <button pButton pRipple type="button" label="Login" class="ml-2 p-button" (click)="login()"></button>
    </div>

  </p-card>
</div>

