<div *ngIf="isLoggedIn() && this.isAdmin">
  <p-menubar [model]="itemsLoggedInAsAdmin">
    <a aria-label="Home" class="logo" routerLink="/announcement-page">
      <img src="/assets/sigla.png" style="height:50px;">
    </a>
  </p-menubar>
</div>
<div *ngIf="isLoggedIn() && !this.isAdmin">
  <p-menubar [model]="itemsLoggedInAsUser">
    <a aria-label="Home" class="logo" routerLink="/announcement-page">
      <img src="/assets/sigla.png" style="height:50px;">
    </a>
  </p-menubar>
</div>
<div *ngIf="!isLoggedIn()">
  <p-menubar [model]="itemsLoggedOut">
    <a aria-label="Home" class="logo" routerLink="#">
      <img src="/assets/sigla.png" style="height:50px;">
    </a>
  </p-menubar>
</div>
