:host ::ng-deep .p-menubar{
  background-color:#15202B;
  color:white;
  border-color: #1A1918;

  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);

}
:host ::ng-deep .p-menubar-root-list{
  background-color:#15202B;
  border-color: #1A1918;
}
.logo {
  text-decoration: none;
}
